<div class="globe-container">
	<e-ngx-cesium [viewerOptions]="viewerOptions"
	              (viewerReady)="onViewerReady($event)">
	</e-ngx-cesium>
</div>
<div class="readme-container">
	<h3>描述</h3>
	<p>
		叠加 CZML
		<button (click)="showLayer()">全地层</button>
		<button (click)="showLayer(0)">弱透水层</button>
		<button (click)="showLayer(1)">潜水含水层</button>
		<button (click)="showLayer(2)">弱透水层</button>
		<button (click)="showLayer(3)">第一承压含水层</button>
		<button (click)="showLayer(4)">弱透水层</button>
		<button (click)="showLayer(5)">第二承压含水层</button>
	</p>
</div>
